*{
	margin: 0;
	padding: 0;
}


.panel-title{
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
#main{
        margin-top: 100px;
}

.u-size-100{
	width: 100px;
	text-align: center;
}

.main-form{
	max-width: 500px;
	margin: 0 auto;
}

.panel-info>.panel-heading{
	color: #ffffff;
    background-color: #e95420;
}
.main-login{
	max-width: 300px;
	margin: 0 auto;
}

.footer{
	padding: 20px;
	margin-top: 100px; 
}
.footer a{
	text-decoration: none;
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display:none;
}